<header class="navbar">
  <nav class="navbar-inner">
    <section class="container">
        @Html.RouteLink(StringConstant.APP_NAME, RouteConstant.HOME, null , new { @class = StringConstant.CSS_B_BRAND })            
        <ul id="navMain" class="nav">
          <li class="@Html.AktivLink()">@Html.RouteLink(StringConstant.LABEL_HOME, RouteConstant.HOME)</li>
          <li class="@Html.AktivLink(RouteConstant.ABOUT)">@Html.RouteLink(StringConstant.LABEL_ABOUT, RouteConstant.ABOUT)</li>
          <li class="@Html.AktivLink(RouteConstant.HELP)">@Html.RouteLink(StringConstant.LABEL_HELP, RouteConstant.HELP)</li>
          <li class="@Html.AktivLink(RouteConstant.CONTACT)">@Html.RouteLink(StringConstant.LABEL_CONTACT, RouteConstant.CONTACT)</li>      
        </ul>
        <ul class="nav pull-right"> 
            <li>@Html.RouteLink(StringConstant.LABEL_SIGN_IN, RouteConstant.SIGNIN)</li>     
            <li><a href="@RouteConstant.GITHUB" >@StringConstant.LABEL_VIEW_ON<strong>@StringConstant.LABEL_GITHUB</strong></a></li>
        </ul>
    </section>
  </nav>
</header>