<header class="navbar">
  <nav class="navbar-inner">
    <section class="container">
        @Html.RouteLink("Astromech", "Home", null , new { @class = "brand" })            
        <ul id="navMain" class="nav">
          <li class="active">@Html.RouteLink("home","Home")</li>
          <li class="">@Html.RouteLink("about","About")</li>
          <li class="">@Html.RouteLink("help","Help")</li>
          <li class="">@Html.RouteLink("contact", "Contact")</li>      
        </ul>
        <ul class="nav pull-right"> 
            <li>@Html.RouteLink("Sign In", "SignIn")</li>     
            <li><a href="github" >View On <strong>Github</strong></a></li>
        </ul>
    </section>
  </nav>
</header>